<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.seelio.uploader"
    version     = "0.1.0"
    versionCode = "1" >

    <preference name="phonegap-version" value="3.3.0" />

    <name>Seelio Uploader</name>

    <description>
    Seelio Uploader to add attachments to a work.
    </description>
    
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.camera" />

</widget>